/* .basketPreview {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1480px;
  height: 100%;
  width: 100%;
  background-color: #ffc700;
} */

.basketPreview {
  color: #ffc700;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 805px;
  height: 591px;
  margin: 0 auto;
  background-color: #000;
}

.basketPreview__container {
  width: 80%;
  height: 90%;
  margin: 0 auto;
}

.basketPreview__header {
  display: flex;
  border-bottom: #c0c0c0 1px solid;
  margin-bottom: 1.75em;
}

.cartIcon {
  margin-right: 1.1em;
}

.basketPreview__title {
  font-size: 1.5rem;
  color: #fff;
  background: #ffc700;
  padding: 0.1em 0.9em;
  margin-top: 0;
}

.basketPreview__main {
  display: flex;
  border-bottom: 1px solid #c0c0c0;
  position: relative;
}

.delete {
  font-size: 2rem;
  font-weight: 100;
  position: absolute;
  top: -30px;
  right: 0;
}

.basketPreview__main__itemDetails {
  margin-left: 1.4375em;
}

.basketPreview__details {
  display: flex;
  font-size: 1.125rem;
}

.basketPreview__servings {
  padding-right: 1em;
}

.basketPreview__description {
  font-size: 0.875em;
  margin: 0 0 3.6875em 0;
}

.basketPreview__quantityDropDown {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.basketPreview__quantityDropDown > select {
  width: 58px;
  height: 37px;
  background-color: #ffc700;
  outline: none;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  padding: 0.3125em 0 0.3125em 0.5625em;
}
.basketPreview__quantityDropDown select option {
  font-size: 1.125rem;
}

.price {
  font-size: 1.313rem;
  font-weight: 600;
  padding-bottom: 0;
}

.basketPreview__deliveryFee {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #c0c0c0;
}

.fee {
  font-size: 1.125rem;
}

.basketPreview__totalPrice {
  display: flex;
  justify-content: space-between;
}

.total {
  text-transform: uppercase;
  font-size: 1.125rem;
  font-weight: 700;
}
