.bottom {
  position: relative;
  height: 70vh;
}

.bottom::before {
  content: "";
  display: block;
  background: url("../img/bottom-img.png") no-repeat;
  width: 100%;
  background-size: cover;
  background-position: center center;
  object-fit: contain;
  height: 100%;
  filter: brightness(50%);
  z-index: -1;
}

.bottom__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1480px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10000;
}

.bottom__container > h1 {
  color: #ffc700;
  align-items: center;
}
