.burgers__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 8em 0;
}

.burgers__title > h1,
.burgers__title > p {
  text-align: center;
  margin: 0;
  padding: 0;
}

.burgers__title > h1 {
  font-size: 4.4rem;
  margin-bottom: 0.5em;
}

.burgers__title > p {
  font-size: 1.5rem;
  width: 622px;
}

.burgers__container {
  max-width: 1280px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  grid-gap: 4rem;
  margin: 5em auto;
}

.burgers > .burgers__loadButton {
  display: block;
  color: #000;
  padding: 1em 2.5em;
  background: #ffc700;
  border: 2px solid #ffc700;
  transition: all 0.5s;
  cursor: pointer;
  width: 173px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 5em;
}

.burgers__loadButton:hover {
  color: #fff;
}

.burgers__loadButton span {
  font-weight: 700;
  padding: 1em;
}

@media screen and (max-width: 375px) {
  .burgers__title > h1 {
    font-size: 1.5rem;
  }

  .burgers__title > p {
    font-size: 1.063rem;
    width: 90%;
    margin: 0 auto;
  }

  .burgers__container {
    grid-template-columns: repeat(1, 1fr);
    width: 80%;
    margin: 0 auto;
  }

  .burgers__container .burger__info {
    width: 85%;
  }

  .burger__description {
    font-size: 1rem;
    margin-top: 0;
  }

  .burgers > .burgers__loadButton {
    width: 70%;
    margin-top: 5em;
  }

  .burgers__loadButton span {
    font-size: 1rem;
    padding: 0;
  }
}
