.button {
  display: block;
  padding: 1em 2.5em;
  border: 2px solid #ffc700;
  transition: all 0.5s;
  cursor: pointer;
  width: 173px;
  text-align: center;
  margin-top: 3em;
}

.button:hover {
  background-color: #ffc700;
}

.button__title {
  font-size: 1.5em;
  text-decoration: none;
  color: #fff;
}

@media screen and (max-width: 376px) {
  .button {
    padding: .5em 1em;
  }
}
