.header {
  margin-bottom: -70px;
  background-color: transparent;
  position: relative;
  z-index: 10;
}
.header__container {
  display: flex;
  justify-content: flex-end;
  max-width: 1480px;
  margin: 0 auto;
}

.header__nav {
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.link {
  color: #fff;
  text-decoration: none;
  position: relative;
  margin: 0 1em;
}
.link:hover {
  color: #ffc700;
  transition: all 0.7s;
}

.link::after {
  content: "";
  display: block;
  position: absolute;
  border-bottom: 1px solid #ffc700;
  width: 60%;
  padding-top: 0.5em;
  transform: scaleX(0);
  transition: transform 0.2s ease-in-out;
}

.link:hover::after {
  transform: scaleX(1);
}

.link > span::after {
  display: block;
  transform-origin: 0% 50%;
}

.header__cart {
  margin: 1em;
}

.cart {
  margin-left: 30px;
  color: #ffc700;
}
