.header {
  margin-bottom: -100px;
  margin-right: 1em;
  background-color: transparent;
  position: relative;
  z-index: 10;
  font-size: 1.125rem;
}
.header__container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /* max-width: 1480px; */
  margin: 0 auto;
}

.header__nav {
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.link {
  color: #fff;
  text-decoration: none;
  position: relative;
  margin: 0 1em;
}

.link::after {
  content: "";
  display: block;
  position: absolute;
  border-bottom: 1px solid #ffc700;
  width: 60%;
  padding-top: 0.5em;
  transform: scaleX(0);
  transition: transform 0.2s ease-in-out;
}

.link:hover::after {
  transform: scaleX(1);
}

.active::after {
  content: "";
  display: block;
  position: absolute;
  border-bottom: 1px solid #ffc700;
  width: 60%;
  padding-top: 0.5em;
  transform: scaleX(1);
}

.link > span::after {
  display: block;
  transform-origin: 0% 50%;
}

.header__cart {
  margin: 1em;
}

.cart {
  margin-left: 30px;
  color: #ffc700;
  position: relative;
  font-weight: 700;
}

.header__cartItemNumbers {
  position: absolute;
  color: #000;
  font-weight: 700;
  background-color: #fff;
  border-radius: 50%;
  width: 100%;
  text-align: center;
  font-size: 1.2rem;
  left: 20px;
  top: -15px;
}
